* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #bbe4e9;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano {
  height: 290px;
  padding: 90px 30px 0 30px;
  border-radius: 10px;
  background: #141414;
}

.keyboard {
  position: relative;
}

.white-keys {
  display: flex;
}

.black-keys {
  position: relative;
  display: flex;
}

.white {
  height: 180px;
  width: 68px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #000;
  background: linear-gradient(#fff 96%, #eee 4%);
  box-sizing: border-box;
}

.black {
  width: 38px;
  height: 110px;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box; /* make sure that boarder is on the inside */
  position: absolute;
  background: linear-gradient(#333, #000);
}

.black:nth-child(1) {
  left: 48px;
}

.black:nth-child(2) {
  left: 117px;
}

.black:nth-child(3) {
  left: 253px;
}
.black:nth-child(4) {
  left: 320px;
}
.black:nth-child(5) {
  left: 389px;
}

.black:nth-child(6) {
  left: 525px;
}

.black:nth-child(7) {
  left: 594px;
}

.black:nth-child(8) {
  left: 662px;
}

.black:nth-child(9) {
  left: 797px;
}

.black:nth-child(10) {
  left: 865px;
}

/*  */

/* @Media responsive */
